* {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

h1,
h3,
h5,
h6 {
  font-weight: normal;
}

h2, h4 {
  line-height: 2em;
}

h4 {
  font-size: 1.2rem;
}

input,
select,
textarea {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font: 16px/1 "PingFang SC",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei",STHeiTi,sans-serif;
}

table {
  border-collapse: collapse;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
}

.inline-block {
  display: inline-block;
}

.text-right {
  text-align: right;
}

body > .top-bar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 4rem;
  line-height: 4rem;
}

body menu,
body main > .content {
  padding-top: 1rem;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 4rem);
  padding-top: 4rem;
}

body main > menu {
  width: 20rem;
  background-color: #f8f9fa;
}

body main .content {
  width: 100%;
  height: inherit;
  overflow-y: scroll;
}

.main-container {
  margin: 0 auto;
  width: 96%;
}

.top-bar {
  background-color: #323232;
  color: #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.top-bar .site-title {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.top-bar .user-info {
  width: 7em;
}

.side-menu {
  background-color: #f8f8f8;
}

.side-menu h3 {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1.2rem;
  line-height: 2em;
  text-indent: .5rem;
  border-bottom: 1px dashed #c5c5c5;
  cursor: pointer;
}

.side-menu h3::before {
  content: "";
  display: inline-block;
  margin-right: .3rem;
  width: 1.2em;
  height: 1.2em;
  vertical-align: -5px;
  background: url(./icon.svg);
  background-size: contain;
}

.side-menu a {
  display: block;
  line-height: 2.5em;
  text-indent: 2.3rem;
  color: inherit;
}

.table {
  width: 100%;
  font-size: 0.9rem;
}

.table thead {
  font-weight: bold;
  border-bottom: 2px solid #d9d9d9;
}

.table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table tr {
  border-top: 1px solid #d9d9d9;
}

.table td {
  padding: 10px 5px;
  text-align: center;
}

.table .text-left {
  text-align: left;
}

.form dt {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.form dd {
  line-height: 2em;
}

.form input[type="text"],
.form select,
.form textarea {
  width: 30em;
  height: 2.5em;
  padding: 0.3rem;
  font-size: 1em;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form input[type="text"]:focus,
.form select:focus,
.form textarea:focus {
  border-color: #80bdff;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form input[type="radio"],
.form input[type="checkbox"] {
  width: 1em;
  height: 1em;
  vertical-align: 2px;
  margin-right: 5px;
}

.form textarea {
  height: 9.5em;
}

.form .btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: .5rem 1rem;
  border: 1px solid #d9d9d9;
  font-size: 1rem;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: .25rem;
}

.form .btn-primary {
  color: #fff;
  border: 1px solid #007bff;
  background-color: #007bff;
}

.form .btn-danger {
  color: #fff;
  border: 1px solid #007bff;
  background-color: red;
}

.form .btn-success {
  color: #fff;
  border: 1px solid #28a745;
  background-color: #28a745;
}

.query-box {
  line-height: 3rem;
}

.query-box .form input[type="text"],
.query-box .form select {
  width: 200px;
}

.tab-switch .tab-index span {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  border-radius: .5rem .5rem 0 0;
}

.tab-switch .tab-index span + span {
  margin-left: -7px;
}

.tab-switch .tab-index span.activate {
  border-bottom-color: #fff;
  background-color: #fff;
}

.tab-switch .tab-index span:hover {
  cursor: pointer;
}

.tab-switch .tab-content {
  margin-top: -1px;
  padding: 1rem .5rem;
  border-top: 1px solid #d9d9d9;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.pagination .page-item .page-link {
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #d9d9d9;
}

.pagination .page-item.disabled > .page-link {
  color: #d9d9d9;
}

.pagination .page-item.active > .page-link {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

p {
  margin: 2rem 0;
}

main > .content {
  border-left: 1px solid rgba(100, 100, 100, 0.2);
  -webkit-box-shadow: -4px 0 3px rgba(200, 200, 200, 0.1);
          box-shadow: -4px 0 3px rgba(200, 200, 200, 0.1);
}
/*# sourceMappingURL=style.css.map */

.btn {
  cursor:pointer;
}